Repository pawtograder/platform, pull requests merged in 2025-06, with the labels that each got.

#88 misc. self review bug fixes
  app/course/[course_id]/assignments/[assignment_id]/finalizeSubmissionEarly.tsx
  app/course/[course_id]/assignments/[assignment_id]/page.tsx
  components/ui/self-review-notice.tsx
  hooks/useCourseController.tsx
Labels: frontend

#90 #80 - Rubric Check Student Visibility
  app/course/[course_id]/assignments/[assignment_id]/submissions/[submissions_id]/files/page.tsx
  app/course/[course_id]/manage/assignments/[assignment_id]/edit/page.tsx
  app/course/[course_id]/manage/assignments/[assignment_id]/rubric/page.tsx
  app/course/[course_id]/manage/assignments/new/page.tsx
  components/ui/code-file.tsx
  components/ui/rubric-sidebar.tsx
  components/ui/submission-review-toolbar.tsx
  hooks/useRubricVisibility.ts
  public/RubricSchema.json
  supabase/functions/_shared/SupabaseTypes.d.ts
  supabase/migrations/20250607162639_rubric_check_visibility.sql
  utils/supabase/DatabaseTypes.d.ts
  utils/supabase/SupabaseTypes.d.ts
Labels: enhancement, handgrading, frontend, database

#78 #65 - Flash Cards
  .gitignore
  app/course/[course_id]/dynamicCourseNav.tsx
  app/course/[course_id]/flashcards/[deck_id]/flashcard.tsx
  app/course/[course_id]/flashcards/[deck_id]/gotItPile.tsx
  app/course/[course_id]/flashcards/[deck_id]/page.tsx
  app/course/[course_id]/flashcards/flashcard-deck.tsx
  app/course/[course_id]/flashcards/page.tsx
  app/course/[course_id]/manage/course/flashcard-decks/[deck_id]/addFlashCardModal.tsx
  app/course/[course_id]/manage/course/flashcard-decks/[deck_id]/analytics/cardAnalytics.tsx
  app/course/[course_id]/manage/course/flashcard-decks/[deck_id]/analytics/page.tsx
  app/course/[course_id]/manage/course/flashcard-decks/[deck_id]/editDeckModal.tsx
  app/course/[course_id]/manage/course/flashcard-decks/[deck_id]/editFlashCardModal.tsx
  app/course/[course_id]/manage/course/flashcard-decks/[deck_id]/layout.tsx
  app/course/[course_id]/manage/course/flashcard-decks/[deck_id]/page.tsx
  app/course/[course_id]/manage/course/flashcard-decks/[deck_id]/student-analytics/page.tsx
  app/course/[course_id]/manage/course/flashcard-decks/[deck_id]/student-analytics/studentCardAnalytics.tsx
  app/course/[course_id]/manage/course/flashcard-decks/[deck_id]/student-analytics/studentDeckAnalytics.tsx
  app/course/[course_id]/manage/course/flashcard-decks/analytics/deckAnalytics.tsx
  app/course/[course_id]/manage/course/flashcard-decks/analytics/page.tsx
  app/course/[course_id]/manage/course/flashcard-decks/createDeckModal.tsx
  app/course/[course_id]/manage/course/flashcard-decks/flashCardDecksTable.tsx
  app/course/[course_id]/manage/course/flashcard-decks/page.tsx
  app/globals.css
  hooks/useClassProfiles.tsx
  package-lock.json
  package.json
  supabase/functions/_shared/SupabaseTypes.d.ts
  supabase/migrations/20250526232428_flash_cards.sql
  supabase/migrations/20250526235949_flashcards_rls.sql
  supabase/migrations/20250530021942_flashcard_updates.sql
  supabase/migrations/20250530190541_drop_source_yml.sql
  supabase/migrations/20250604195000_flashcard_functions.sql
  supabase/migrations/20250612020000_create-flashcard-analytics-views.sql
  supabase/seed.sql
  utils/supabase/DatabaseTypes.d.ts
  utils/supabase/SupabaseTypes.d.ts
Labels: enhancement, frontend, database
